@charset "UTF-8";

* {margin: 0px;
padding: 0px;}

.container {
    position: relative;
    min-height: 65vh;
    background-image: url(img/background-header-img.png);
    display: grid;
    place-content: center;
    background-size: cover;
    background-position: center;
    isolation: isolate;

}

.container::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    background: rgb(51, 44, 45);
    opacity: .5;
}

/*Atentar pra configuração que permite configurar a opacidade somente do fundo*/
.contain > h1 {
    font-size: 35px;
    font-weight: bold;
}

.contain {
    text-align: center;
    color: white;
    position: absolute;        
    margin: auto;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 90vw;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    }

div.button {
   

font-family: Arial, Helvetica, sans-serif;
font-size: 17px;
font-weight: normal;
position: relative;


border: 1px solid rgb(171, 168, 168);
    width: 175px;
    height: 60px;

    background-color:#1c1c1cde;
    display: inline-block;}

.read {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    

}

div.button:hover{
 color: black;   
font-family: Arial, Helvetica, sans-serif;
font-size: 17px;
font-weight: normal;
position: relative;


border: 1px solid rgb(171, 168, 168);
    width: 175px;
    height: 60px;

    background-color:#aaaaaac1;
    display: inline-block;}


#section01 { color: black;

height: 30vh;
padding-top: 40px;
padding-bottom: 40px;line-height: 1.5em;
}
.conteudo01 > h1 { font-size: 26px;
font-weight: bold;}
.conteudo01 {text-align: center;

line-height: 1.5em;}

        