@charset "UTF-8";

* {margin: 0px;
padding: 0px;}

.container {
    position: relative;
    min-height: 65vh;
    background-image: url(img/background-header-img.png);
    display: grid;
    place-content: center;
    background-size: cover;
    background-position: center;
    isolation: isolate;

}

.container::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    background: rgba(54, 54, 54, 0.784);
    opacity: .5;
}

/*Atentar pra configuração que permite configurar a opacidade somente do fundo*/
.contain > h1 {
font-size: 35px;
font-weight: bold;
}


.title {color: white;}
.contain {
text-align: center;
color: white;
position: absolute;        
margin: auto;
left: 50%;
top:50%;
transform: translate(-50%, -50%);
width: 90vw;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.5em;
    }

div.button {
   

font-family: Arial, Helvetica, sans-serif;
font-size: 17px;
font-weight: normal;
position: relative;


border: 1px solid rgb(171, 168, 168);
width: 175px;
height: 60px;

background-color:#1c1c1cde;
display: inline-block;}

.read {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
    

}

div.button:hover{
color: black;   
font-family: Arial, Helvetica, sans-serif;
font-size: 17px;
font-weight: normal;
position: relative;


border: 1px solid rgb(171, 168, 168);
width: 175px;
height: 60px;

background-color:#aaaaaac1;
display: inline-block;}


#section01 { color: black;

min-height: 15vh;
padding-top: 40px;
padding-bottom: 40px;
line-height: 1.5em;
}
.conteudo01 > h1 {
font-size: 26px;
font-weight: bold;
padding-bottom: 10px;}
.conteudo01 {text-align: center;
    

line-height: 1.5em;}

.coluna-50 {
    
width: 50%;
    
    
}
.linha{ 
width: 90vw;
margin-top: 1.3em;
margin-left: 5%;
display: flex;
flex-flow: row wrap;
}

h1, h2, h3 {
    color: #333333
}
.container02 {
    

    background-color: #333333;
    height: 90vh;
    
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    
}

#section02 > ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
}

#section02 > ul > li {
    border-radius: 4px;
    margin-bottom: 1em;
    background: rgb(255, 253, 253);
    color: #333;
    display: list-item;
    text-align: -webkit-match-parent;
    width: 31%;
    margin: 10px;
}

.retangulo {
    max-height: 90%;
}

.card {
    display: block;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h3 {
    margin: 0;
    padding: 1em 0;
    display: block;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #333333;
}

.card-text {
    text-align: center;
    display: block;
    margin: 0;
    padding: 1em 0;
    font-size: 1.3em;
}

.card-content {
    padding: 1.5em;
}

#section03 { color: black;

    min-height: 15vh;
    padding-top: 40px;
    padding-bottom: 40px;
    line-height: 1.5em;
    }
    .conteudo03 > h1 {
    font-size: 26px;
    font-weight: bold;
    padding-bottom: 10px;}
    .conteudo03 {text-align: center;
    line-height: 1.5em;}

    .conteudo03 > p {
        margin-left:200px ;
        margin-right: 200px;
        text-align: center;
    }

